<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
   <title>Shop</title>
   <link rel="stylesheet" href="./index.css">
   <link rel="stylesheet" href="./assets/owl.carousel.min.css">
   <link rel="stylesheet" href="./assets/owl.theme.default.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>

<body>
   <!-- basliq -->

   <div class="phone mail ">
      <div class="icon-phone"><i class="fa-solid fa-phone"></i>
         <p class="number">+2354 3256 326</p>
      </div>
      <div class="icon-mail"><i class="fa-regular fa-envelope"></i>
         <p class="gmail">demo@example.com</p>
      </div>
      <div class="usd">
         <ul class="nav nav-pills">
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                  aria-expanded="false">USD</a>
               <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">INR</a></li>
               </ul>
            </li>
         </ul>
      </div>
   </div>

   <!-- container  -->

   <div class="conteiner">
      <div class="headr">
         <!-- basliq metro hissesi -->
         <img src="./img/metro.png" alt="">
         <button class="buton">
            <!-- ilk metrodan sonraki hisse -->
            <ul class="nav nav-pills nav1">
               <li class="nav-item dropdown">
                  <a class="nav-linkk dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                     aria-expanded="false">All Categories
                  </a>
                  <ul class="dropdown-menu drops ">
                     <li><a class="dropdown-item items" href="#">All Categories</a></li>
                     <li><a class="dropdown-item items" href="#">Bag</a></li>
                     <li><a class="dropdown-item items" href="#">Camera</a></li>
                     <li><a class="dropdown-item items" href="#">Headphones</a></li>
                     <li><a class="dropdown-item items" href="#">Mouse</a></li>
                     <li><a class="dropdown-item items" href="#">Phone</a></li>
                     <li><a class="dropdown-item items" href="#">Shoes</a></li>
                     <li><a class="dropdown-item items" href="#">Speaker</a></li>
                     <li><a class="dropdown-item items" href="#">Stove</a></li>
                     <li><a class="dropdown-item items" href="#">Watch</a></li>
                  </ul>
               </li>
            </ul>
         </button>

         <!-- input ve button hissesi  -->
         <input type="text" class="input" placeholder="Search Products...">
         <button class="buton1">Search</button>
         <i class=" fire fa-solid fa-fire"></i>
         <p class="hot">Visit hot products</p>
      </div><br>

      <div class="shadow"></div>


      <!-- navbar  -->
      <!-- All Categories hissesi -->

      <nav class="navbar navbar-expand-lg bg-light ">
         <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
               data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
               aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
               <ul>
                  <li class="menu">
                     <a class="nav-link navbarlink" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class=" fas fa-solid fa-bars-staggered angel"></i>
                        All Categories
                     </a>
                     <ul class="dropdown-menu mn">
                        <li><a class="dropdown-item item shoesin" href="#">Shoes
                              <i class="fa-solid fa-angle-right"></i>
                           </a></li>
                        <!-- bu hisse tam duzelmeyib fikrimce acardion olmalidir burda birinci de -->
                        <li><a class="dropdown-item item" href="#">Watch</a></li>
                        <li><a class="dropdown-item item" href="#">Camera</a></li>
                        <li><a class="dropdown-item item" href="#">Speaker</a></li>
                        <li><a class="dropdown-item item" href="#">Stove</a></li>
                        <li><a class="dropdown-item item" href="#">Phone</a></li>
                        <li><a class="dropdown-item item" href="#">Shoes</a></li>
                        <li><a class="dropdown-item item" href="#">Watch</a></li>
                        <li><a class="dropdown-item item" href="#">Camera</a></li>
                        <li><a class="dropdown-item item" href="#">Camera</a></li>
                        <li><a class="dropdown-item item" href="#">Watch</a></li>
                        <li><a class="dropdown-item item" href="#">Phone</a></li>
                        <li><a class="dropdown-item item" href="#">Shoes</a></li>
                        <li><a class="dropdown-item item" href="#">Speaker</a></li>
                     </ul>
                  </li>
               </ul>

               <!-- home blog link  hissesi navbar-->

               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                     <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Shop</a>
                  </li>
                  <!-- blog acilib baqlanan hissesi navbar -->
                  <li class="nav-item dropdown ">
                     <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Blog
                     </a>
                     <ul class="dropdown-menu down ">
                        <li><a class="dropdown-item" href="#">Left Sidebar</a></li>
                        <li><a class="dropdown-item" href="#">Right Sidebar</a></li>
                        <li><a class="dropdown-item" href="#">No Sidebar</a></li>
                     </ul>
                  <li class="nav-item">
                     <a class="nav-link" href="#">About Us</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Contact Us</a>
                  </li>
                  </li>
               </ul>
            </div>
            <!-- navbar icon olan hisse -->
            <div class="colapse  " id="navbarSupportedContent">
               <ul>
                  <li class="">
                     <a class="nav-link navbarlink" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-user"></i> Sign in
                     </a>
                     <ul class="dropdown-menu downn">
                        <li><a class="dropdown-item item itemm" href="#">My account</a></li>
                        <li><a class="dropdown-item item itemm" href="#">Checkout</a></li>
                        <li><a class="dropdown-item item itemm" href="#">Wishlist</a></li>
                        <li><a class="dropdown-item item itemm" href="#">Compare</a></li>
                        <li><a class="dropdown-item item itemmm" href="#">Login</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
            <div class="man">
               <ul>
                  <li><a href="#"><i class="fa-solid fa-heart"></i> Wishlist</a></li>
               </ul>
            </div>
            <div class="zeroo " id="navbarSupportedContent">
               <ul>
                  <li>
                     <a class="nav-link navbarlink" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-cart-plus"></i> Cart
                     </a>
                     <ul class="dropdown-menu downnn">
                        <li><a class="dropdown-item iteem " href="#">My account</a></li>
                     </ul>
                  </li>
               </ul>
               <button class="zero"> 0</button>
            </div>
         </div>
      </nav>
      <!-- navbarin bitdiyi yer -->

      <!-- navbarin alti shop home olan hisse -->

      <!-- bir div saxlamaq ucun -->
      <div class="dive">
         <div class="Shops">
            <p class="Shop">Shop</p>
            <a href="Home">Home</a>
            <p class="shop">/ Shop</p>
         </div>


         <!-- default sorting hissesi acardion -->
         <div class="accordion" id="accordionExample">
            <div class="accordion-item">
               <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                     aria-expanded="true" aria-controls="collapseOne">
                     Default Sorting
                  </button>
               </h2>
               <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <ul>
                        <li>
                           <a href="#">Default sorting</a>
                        </li>
                        <li>
                           <a href="#">Sort by popularity</a>
                        </li>
                        <li>
                           <a href="#">Sort by average routing</a>
                        </li>
                        <li>
                           <a href="#">Sort by latest</a>
                        </li>
                        <li>
                           <a href="#">Sort by pric: low to high</a>
                        </li>
                        <li>
                           <a href="#">Sort by pric: high to low</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- showing hissesi -->
      <p class="Showing 1–12 of 15 results"> <i class="fa-solid fa-qrcode menuu"></i><i
            class=" sortt fa-solid fa-bars-staggered"></i></i>Showing 1–12 of 15 results</p>

   </div><br><br>

   <!-- sol teref cedveller -->
   <!-- filter by price  -->


   <ul class="list-group list-group-flush " style="width:220px ;">
      <h2 class="by">FILTER BY PRICE</h2>
      <li class="list-group-item list "><a class="lis" href="#"></a></li>

      <div class="wrapper">
         <div class="containers">
            <div class="slider-track"></div>
            <input type="range" min="30" max="110" value="30" id="slider-1" oninput='sliderOne()'>
            <input type="range" min="30" max="110" value="80" id="slider-2" oninput='sliderTow()'>
         </div>
      </div>
      <button type="button" class="btn btn-primary"
         style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
         FILTER
      </button>
      <div class="wrapper">
         <div class="values">
            <span>Price</span>
            <span id="slider-1">
               $30
            </span>
            <span>&dash;</span>
            <span id="slider-2">
               $110
            </span>
         </div>
      </div><br>
   </ul>

   <!-- FILTER BY COLOR hissesi -->
   <ul class="list-group list-group-flush" style="width:220px ;">
      <h2 class="by">FILTER BY COLOR</h2>
      <li class="list-group-item list "><a class="lis" href="#"></a></li>
      <li class="list-group-item list-grup"><a href="#">Black</a>
         <p>(3)</p>
      </li>
      <li class="list-group-item list-grup"><a href="#">Blue</a>
         <p>(4)</p>
      </li>
      <li class="list-group-item list-grup"><a href="#">Pink</a>
         <p>(3)</p>
      </li>
   </ul>

   <!-- FILTER BY SIZE hissesi -->
   <ul class="list-group list-group-flush flush" style="width:220px ;">
      <h2 class="by">FILTER BY SIZE</h2>
      <li class="list-group-item list "><a class="lis" href="#"></a></li>
      <li class="list-group-item list-grup"><a href="#">Large</a>
         <p>(3)</p>
      </li>
      <li class="list-group-item list-grup"><a href="#">Medium</a>
         <p>(3)</p>
      </li>
      <li class="list-group-item list-grup"><a href="#">Small</a>
         <p>(3)</p>
      </li>
   </ul>

   <!-- PRODUCT TAGS hissesi -->
   <div class="product">
      <ul class="list-group list-group-flush flush" style="width:220px ;">
         <h2 class="by">PRODUCT TAGS</h2>
         <li class="list-group-item list"> <a class="lis" href="#"></a></li><br>
         <li><a href="#">Accessories</a></li>
         <li><a class="acousto" href="#">Acousto</a></li>
         <li><a class="clock" href="#">Clock</a></li>
         <li><a href="#">Electronics</a></li>
         <li><a class="mega" href="#">Mega</a></li>
         <li><a class="mobiles" href="#">Mobiles</a></li>
         <li><a href="#">Variety</a></li><br>
      </ul>
   </div>


   <!-- birinci sekil hissesi -->

   <div class="foto1">
      <div class="card texnologi1" style="width: 13.5rem;">
         <img class="bottleblack" src="./img/bootle black.jpg" class="card-img-top" alt="washing machine">
         <div class="icons">
            <button class="basket" style="margin-top:-100px; margin-left: 20px;"><i class="fa-solid fa-basket-shopping"></i>
              <button class="share" style="margin: left 100px; margin-top: -100px;"><i class="fa-solid fa-share"></i> </button>
              <button class="sliders"  style="margin: left 100px; margin-top: -100px;" ><i class="fa-solid fa-sliders"></i></button>
              <button class="eye"  style="margin: left 100px;margin-top: -100px; "><i class="fa-regular fa-eye"></i></button>
            </div>
         <div class="card-body">
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class="  fri  fa-solid fa-star-of-david"></i>
            <i class="  fri fa-solid fa-star-of-david"></i>
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class=" fri  fa-solid fa-star-of-david"></i><br>
            <a href="#">Variety</a><br>
            <a class=" texno">24 Hours Hot Or C...</a><br>
            <b class=" point">$45.00</b>
            <b class="point1">$35.00</b>
         </div>
      </div>
      <div class="texno1">
         <img class="bottlered" src="./img/bootle red.jpg" alt="">
      </div>



      <div class="card texnologi1" style="width: 13.5rem;">
         <img class="airpodsicon" src="./img/4-300x300.jpg" class="card-img-top" alt="washing machine">
         <div class="icons">
            <button class="basket" style="margin-top:-100px; margin-left: 20px;"><i class="fa-solid fa-basket-shopping"></i>
              <button class="share" style="margin: left 100px; margin-top: -100px;"><i class="fa-solid fa-share"></i> </button>
              <button class="sliders"  style="margin: left 100px; margin-top: -100px;" ><i class="fa-solid fa-sliders"></i></button>
              <button class="eye"  style="margin: left 100px;margin-top: -100px; "><i class="fa-regular fa-eye"></i></button>
            </div>
         <div class="card-body  ">
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class="  fri  fa-solid fa-star-of-david"></i>
            <i class="  fri fa-solid fa-star-of-david"></i>
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class=" fri  fa-solid fa-star-of-david"></i><br>
            <a href="#">Variety</a><br>
            <a class=" texno">Apple AirPods Pro</a><br>
            <b class="point1">$101.00</b>
         </div>
      </div>
      <div class="texno1">
         <img class="airpodsblack" src="./img/nausnik.jpg" alt="">
      </div>


      <div class="card texnologi1" style="width: 13.5rem;">
         <img class="iphonegray" src="./img/iphone gray.jpg" class="card-img-top" alt="washing machine">
         <div class="icons">
            <button class="basket" style="margin-top:-100px; margin-left: 20px;"><i class="fa-solid fa-basket-shopping"></i>
              <button class="share" style="margin: left 100px; margin-top: -100px;"><i class="fa-solid fa-share"></i> </button>
              <button class="sliders"  style="margin: left 100px; margin-top: -100px;" ><i class="fa-solid fa-sliders"></i></button>
              <button class="eye"  style="margin: left 100px;margin-top: -100px; "><i class="fa-regular fa-eye"></i></button>
            </div>
         <div class="card-body  ">
            <i class=" fri fa-solid fa-star"></i>
            <i class=" fri fa-solid fa-star"></i>
            <i class=" fri fa-solid fa-star"></i>
            <i class=" fri fa-solid fa-star"></i>
            <i class=" fri  fa-solid fa-star-of-david"></i><br>
            <a href="#">Mega</a><br>
            <a class=" texno">Apple IPhone 13 Pr...</a><br>
            <b class=" point">$67.00</b>
            <b class="point1">$34.00</b>
         </div>
      </div>
      <div class="texno1">
         <img class="iphonelightgray" src="./img/lightgray iphone.jpg" alt="">
      </div>


      <div class="card texnologi1" style="width: 13.5rem;">
         <img class="airpoodblue" src="./img/airpood blue.jpg" class="card-img-top" alt="washing machine">
         <div class="icons">
            <button class="basket" style="margin-top:-100px; margin-left: 20px;"><i class="fa-solid fa-basket-shopping"></i>
              <button class="share" style="margin: left 100px; margin-top: -100px;"><i class="fa-solid fa-share"></i> </button>
              <button class="sliders"  style="margin: left 100px; margin-top: -100px;" ><i class="fa-solid fa-sliders"></i></button>
              <button class="eye"  style="margin: left 100px;margin-top: -100px; "><i class="fa-regular fa-eye"></i></button>
            </div>
         <div class="card-body  ">
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class="  fri  fa-solid fa-star-of-david"></i>
            <i class="  fri fa-solid fa-star-of-david"></i>
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class=" fri  fa-solid fa-star-of-david"></i><br>
            <a href="#">Accessories</a><br>
            <a class=" texno">BoAt Bassheads 9...</a><br>
            <b class=" point">$120.00</b>
            <b class="point1">$74.00</b>
         </div>

      </div>
      <div class="texno1">
         <img class="airpoodblack" src="./img/airpood black.jpg" alt="">
      </div>
   </div>

   <button class="sale">Sale!</button>
   <button class="sale1">Sale!</button>
   <button class="sale2">Sale!</button>




   <!-- ikinci sekil hissei -->

   <div class="foto">
      <div class="card texnologi" style="width: 13.5rem;">
         <img class="washingmachine" src="./img/wawshing machine.jpg" class="card-img-top" alt="washing machine">
         <div class="icons">
            <button class="basket" style="margin-top:-100px; margin-left: 20px;"><i class="fa-solid fa-basket-shopping"></i>
              <button class="share" style="margin: left 100px; margin-top: -100px;"><i class="fa-solid fa-share"></i> </button>
              <button class="sliders"  style="margin: left 100px; margin-top: -100px;" ><i class="fa-solid fa-sliders"></i></button>
              <button class="eye"  style="margin: left 100px;margin-top: -100px; "><i class="fa-regular fa-eye"></i></button>
            </div>
         <div class="card-body  ">
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class="  fri  fa-solid fa-star-of-david"></i>
            <i class="  fri fa-solid fa-star-of-david"></i>
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class=" fri  fa-solid fa-star-of-david"></i><br>
            <a href="#">Clock</a><br>
            <a class=" machine">LG Washing Machine</a><br>
            <b class=" point">$120.00</b>
            <b class="point1">$74.00</b>
         </div>
      </div>
      <div class="washing1">
         <img class="washingmachine1" src="./img/washing machine.jpg" alt="">
      </div>

      <div class="card texnologi " style="width: 13.5rem;">
         <img class="keypboardlight" src="./img/keypboard light.jpg" class="card-img-top" alt="washing machine">
         <div class="icons">
            <button class="basket" style="margin-top:-100px; margin-left: 20px;"><i class="fa-solid fa-basket-shopping"></i>
              <button class="share" style="margin: left 100px; margin-top: -100px;"><i class="fa-solid fa-share"></i> </button>
              <button class="sliders"  style="margin: left 100px; margin-top: -100px;" ><i class="fa-solid fa-sliders"></i></button>
              <button class="eye"  style="margin: left 100px;margin-top: -100px; "><i class="fa-regular fa-eye"></i></button>
            </div>
         <div class="card-body  ">
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class="  fri  fa-solid fa-star-of-david"></i>
            <i class="  fri fa-solid fa-star-of-david"></i>
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class=" fri  fa-solid fa-star-of-david"></i><br>
            <a href="#">Variety</a><br>
            <a class="machine">Logitech Keyboard</a><br>
            <b class="point">$100.00</b>
            <b class="point1">$74.00</b>
         </div>
      </div>
      <div class="washing1">
         <img class="keypboardyellow" src="./img/yellow keypboard.jpg" alt="">
      </div>


      <div class="card texnologi" style="width: 13.5rem;">
         <img class="camerawhite" src="./img/camera.jpg" class="card-img-top" alt="washing machine">
         <div class="icons">
            <button class="basket" style="margin-top:-100px; margin-left: 20px;"><i class="fa-solid fa-basket-shopping"></i>
              <button class="share" style="margin: left 100px; margin-top: -100px;"><i class="fa-solid fa-share"></i> </button>
              <button class="sliders"  style="margin: left 100px; margin-top: -100px;" ><i class="fa-solid fa-sliders"></i></button>
              <button class="eye"  style="margin: left 100px;margin-top: -100px; "><i class="fa-regular fa-eye"></i></button>
            </div>
         <div class="card-body ">
            <i class=" fri fa-solid fa-star"></i>
            <i class=" fri fa-solid fa-star"></i>
            <i class=" fri fa-solid fa-star"></i>
            <i class=" fri fa-solid fa-star"></i>
            <i class=" fri  fa-solid fa-star-of-david"></i><br>
            <a href="#">Acousto</a><br>
            <a class="machine">Mi 360° Home Secu</a><br>
            <b class="point">$115.00</b>
            <b class="point1">$99.00</b>
         </div>
      </div>
      <div class="washing1">
         <img class="camerawhite1" src="./img/camera1.jpg" alt="">
      </div>


      <div class="card texnologi" style="width: 13.5rem;">
         <img class="mauseblack" src="./img/mause black.jpg" class="card-img-top" alt="washing machine">
         <div class="icons">
            <button class="basket" style="margin-top:-100px; margin-left: 20px;"><i class="fa-solid fa-basket-shopping"></i>
              <button class="share" style="margin: left 100px; margin-top: -100px;"><i class="fa-solid fa-share"></i> </button>
              <button class="sliders"  style="margin: left 100px; margin-top: -100px;" ><i class="fa-solid fa-sliders"></i></button>
              <button class="eye"  style="margin: left 100px;margin-top: -100px; "><i class="fa-regular fa-eye"></i></button>
            </div>
         <div class="card-body">
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class="  fri  fa-solid fa-star-of-david"></i>
            <i class="  fri fa-solid fa-star-of-david"></i>
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class=" fri  fa-solid fa-star-of-david"></i><br>
            <a href="#">Acousto</a><br>
            <a class="machine">Mouse Wireless</a><br>
            <b class="point">$110.00</b>
            <b class="point1">$92.00</b>
         </div>
      </div>
      <div class="washing1">
         <img class="mauseblue" src="./img/mause blue.jpg" alt="">
      </div>
   </div>
   <button class="sale3">Sale!</button>
   <button class="sale4">Sale!</button>
   <button class="sale5">Sale!</button>
   <button class="sale6">Sale!</button>

   <div class="foto2">
      <div class="card texnologi1" style="width: 13.5rem;">
         <img class="shoeseblack" src="./img/shoese black.jpg" class="card-img-top" alt="washing machine">
         <div class="icons">
            <button class="basket" style="margin-top:-100px; margin-left: 20px;"><i class="fa-solid fa-basket-shopping"></i>
              <button class="share" style="margin: left 100px; margin-top: -100px;"><i class="fa-solid fa-share"></i> </button>
              <button class="sliders"  style="margin: left 100px; margin-top: -100px;" ><i class="fa-solid fa-sliders"></i></button>
              <button class="eye"  style="margin: left 100px;margin-top: -100px; "><i class="fa-regular fa-eye"></i></button>
            </div>
         <div class="card-body  ">
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class="  fri  fa-solid fa-star-of-david"></i>
            <i class="  fri fa-solid fa-star-of-david"></i>
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class=" fri  fa-solid fa-star-of-david"></i><br>
            <a href="#">Variety</a><br>
            <a class="clothing">Puma Shoes...</a><br>
            <b class=" point">$85.00</b>
            <b class="point1">$80.00</b>
         </div>
      </div>

      <div class="texno1">
         <img class="shoeseblue" src="./img/shoese blue.jpg" alt="">
      </div>

      <div class="card texnologi1" style="width: 13.5rem;">
         <img class="tvflower" src="./img/tv flower.jpg" class="card-img-top" alt="washing machine">
         <div class="icons">
            <button class="basket" style="margin-top:-100px; margin-left: 20px;"><i class="fa-solid fa-basket-shopping"></i>
              <button class="share" style="margin: left 100px; margin-top: -100px;"><i class="fa-solid fa-share"></i> </button>
              <button class="sliders"  style="margin: left 100px; margin-top: -100px;" ><i class="fa-solid fa-sliders"></i></button>
              <button class="eye"  style="margin: left 100px;margin-top: -100px; "><i class="fa-regular fa-eye"></i></button>
            </div>
         <div class="card-body  ">
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class="  fri  fa-solid fa-star-of-david"></i>
            <i class="  fri fa-solid fa-star-of-david"></i>
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class=" fri  fa-solid fa-star-of-david"></i><br>
            <a href="#">Mobiles</a><br>
            <a class=" texno">Redmi 80 Cm Sma...</a><br>
            <b class=" point">$88.00</b>
            <b class="point1">$83.00</b>
         </div>
      </div>
      <div class="texno1">
         <img class="tvrgb" src="./img/tv rgb.jpg" alt="">
      </div>

      <div class="card texnologi1" style="width: 13.5rem;">
         <img class="frizergray" src="./img/frizer gray.jpg" class="card-img-top" alt="washing machine">
         <div class="icons">
            <button class="basket" style="margin-top:-100px; margin-left: 20px;"><i class="fa-solid fa-basket-shopping"></i>
              <button class="share" style="margin: left 100px; margin-top: -100px;"><i class="fa-solid fa-share"></i> </button>
              <button class="sliders"  style="margin: left 100px; margin-top: -100px;" ><i class="fa-solid fa-sliders"></i></button>
              <button class="eye"  style="margin: left 100px;margin-top: -100px; "><i class="fa-regular fa-eye"></i></button>
            </div>
         <div class="card-body  ">
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class="  fri  fa-solid fa-star-of-david"></i>
            <i class="  fri fa-solid fa-star-of-david"></i>
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class=" fri  fa-solid fa-star-of-david"></i><br>
            <a href="#">Acousto</a><br>
            <a class=" texno">Samsung Refriger...</a><br>
            <b class=" point">$88.00</b>
            <b class="point1">$45.00</b>
         </div>
      </div>
      <div class="texno1">
         <img class="frizerblack" src="./img/frizer black.jpg" alt="">
      </div>
      <div class="card texnologi1" style="width: 13.5rem;">
         <img class="tablett" src="./img/tablet.jpg" class="card-img-top" alt="washing machine">
         <div class="icons">
            <button class="basket" style="margin-top:-100px; margin-left: 20px;"><i class="fa-solid fa-basket-shopping"></i>
              <button class="share" style="margin: left 100px; margin-top: -100px;"><i class="fa-solid fa-share"></i> </button>
              <button class="sliders"  style="margin: left 100px; margin-top: -100px;" ><i class="fa-solid fa-sliders"></i></button>
              <button class="eye"  style="margin: left 100px;margin-top: -100px; "><i class="fa-regular fa-eye"></i></button>
            </div>
         <div class="card-body  ">

            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class="  fri  fa-solid fa-star-of-david"></i>
            <i class="  fri fa-solid fa-star-of-david"></i>
            <i class=" fri fa-solid fa-star-of-david"></i>
            <i class=" fri  fa-solid fa-star-of-david"></i><br>
            <a href="#">Acousto</a><br>
            <a class=" texno">Samsung Tablet</a><br>
            <b class="point1">$45.00</b>
         </div>
      </div>
      <div class="texno1">
         <img class="tabletfunction" src="./img/tablet function.jpg" alt="">
      </div>
   </div>

   <button class="sale7">Sale!</button>
   <button class="sale8">Sale!</button>
   <button class="sale9">Sale!</button>
   <button class="sale10">Sale!</button>

   <!-- saq klik futurun yuxarisi -->

   <div class="center">
      <div class="pagination">
         <a class="a1" href="#">1</a>
         <a href="#">2</a>
         <a href="#">&raquo;</a>
      </div>

   </div>
   <!-- shoesin ici -->
   <div class="main">
      <div class="head">
         <div class="stove">
            <h4>STOVE</h4>
            <ul>
               <li>
                  <a href="#">Phone</a>
               </li>
               <li>
                  <a href="#">Speaker</a>
               </li>
               <li>
                  <a href="#">Camera</a>
               </li>
               <li>
                  <a href="#">Watch</a>
               </li>
               <li>
                  <a href="#">Stove</a>
               </li>
            </ul>
         </div>
         <div class="SHOES">
            <h4>SHOES</h4>
            <ul>
               <li>
                  <a href="#">Phone</a>
               </li>
               <li>
                  <a href="#">Speaker</a>
               </li>
               <li>
                  <a href="#">Camera</a>
               </li>
               <li>
                  <a href="#">Watch</a>
               </li>
               <li>
                  <a href="#">Stove</a>
               </li>
            </ul>
         </div>

         <div class="RATED">
            <h4>TOP RATED PRODUCTS</h4>
            <a class="boat" href="#">BoAt Bassheads 900 Wired On Ear Headphones</a><br>
            <img src="./img/airpood black.jpg" alt="airpod">
            <b class="Ear" href="#">$120</b>
            <b class="ear" href="#">$74</b><br>
            <a class="mi" href="#">Mi 360° Home Security Camera</a><br>
            <b class="discount" href="#">$115</b>
            <b class="discoun" href="#">$99</b><br>
            <img src="./img/camera1.jpg" alt="camera ">
         </div>
      </div>
      <div class="bootom">
         <div class="stove">
            <h4>PHONE</h4>
            <ul>
               <li>
                  <a href="#">Camera</a>
               </li>
               <li>
                  <a href="#">Phone</a>
               </li>
               <li>
                  <a href="#">Shose</a>
               </li>
               <li>
                  <a href="#">Speaker</a>
               </li>
               <li>
                  <a href="#">Stove</a>
               </li>
            </ul>
         </div>
         <div class="SHOES">
            <h4>SPEAKER</h4>
            <ul>
               <li>
                  <a href="#">Shose</a>
               </li>
               <li>
                  <a href="#">Stove</a>
               </li>
               <li>
                  <a href="#">Watch</a>
               </li>
               <li>
                  <a href="#">Camera</a>
               </li>
               <li>
                  <a href="#">Phone</a>
               </li>
            </ul>
         </div>

         <div class="RATED">
            <h4>RECENT POSTS </h4>
            <a class="boat" href="#">Morbi Lacinia Dolor Ut Di...</a><br>
            <img src="./img/foto.jpg" alt="fotoaparat">
            <b class="march" href="#">March 16, 2022</b><br><br>
            <a class="mi" href="#">Curabitur Mollis Sollicitud...</a><br>
            <b class="march1" href="#">March 2, 2022</b><br>
            <img src="./img/notebuk.jpg" alt="notebuk ">
         </div>
      </div>
   </div>
   <!-- footr -->
   <div class="footr">
      <!-- footr sol hissesi -->
      <img src="./img/metro.png" alt="">
      <p class=" Lorem">
         Lorem Ipsum is simply dummy text of the printing <br>
         and typesetting industry. Lorem Ipsum has been <br>
         the industry's standard dummy text ever since the <br>
         1500s.</p><br>

      <p class="Download">Download App</p>
      <p class="google"><img src="./img/googleplay1.jpg" alt="google-play.jpg">
      </p>
      <p class="app"><img src="./img/app store.png" alt="app.store"></p>

      <div class="media">
         <p class="Social">Social Media</i></p>
         <button class="facebok"><i class="fa-brands fa-facebook-f facebook"></i></button>
         <button class="twitter"><i class="fa-brands fa-twitter"></i></button>
         <button class="linkedin"><i class="fa-brands fa-linkedin-in"></i></button>
         <button class="yotube"><i class="fa-brands fa-youtube"></i></button>
      </div>

      <!-- information hissesi footr -->

      <div class="information">
         <h2>lnformation</h2>
         <ul>
            <li>
               <a href="#">FAQ’s</a>
            </li>
            <li>
               <a href="#">Wishlist</a>
            </li>
            <li>
               <a href="#">Compare</a>
            </li>
            <li>
               <a href="#">Delivery Information</a>
            </li>
            <li>
               <a href="#">Refund And Returns Policy</a>
            </li>
            <li>
               <a href="#">Contact Us</a>
            </li>
         </ul>
      </div>
      <!-- Category hissesi -->
      <div class="Category">
         <h2>Category</h2>
         <ul>
            <li>
               <a href="#">Phone</a>
            </li>
            <li>
               <a href="#">Camera</a>
            </li>
            <li>
               <a href="#">Watch</a>
            </li>
            <li>
               <a href="#">Stove</a>
            </li>
            <li>
               <a href="#">Shoes</a>
            </li>
            <li>
               <a href="#">Mouse</a>
            </li>
            <li>
               <a href="#">Speaker</a>
            </li>
         </ul>
      </div>

      <!-- Contact Us hissesi footr -->

      <div class="ContactUs">
         <h2>ContactUs</h2>
         <p class="demo"> <i class="fa-solid fa-envelope-open-text"></i> <a href="#">demo@demo.com</a></p>
         <p class="miami"> <i class="fa-solid fa-location-dot"></i> 1093 Marigold Lane, Coral Way, Miami, Florida, 33169
         </p>
         <p class="Call"> <i class="fa-solid fa-phone-volume"></i> Call us : 0123-456-789</p>
      </div>

      <div class="shadow1"></div>

      <!-- footr electronics hissesi -->

      <div class="Electronics">
         <h2>Electronics :</h2>
         <ul>
            <li>
               <a href="#">Camera</a>
            </li>
            <li>
               <a href="#">Home</a>
            </li>
            <li>
               <a href="#"> Speaker</a>
            </li>
            <li>
               <a href="#">Camera</a>
            </li>
            <li>
               <a href="#"> Phone</a>
            </li>
            <li>
               <a href="#"> Shoes</a>
            </li>
            <li>
               <a href="#">Stove</a>
            </li>
            <li>
               <a href="#"> Phone</a>
            </li>
            <li>
               <a href="#">Speaker</a>
            </li>
            <li>
               <a href="#">Stove</a>
            </li>
            <li>
               <a href="#"> Shoes</a>
            </li>
         </ul>

         <ul class="ull">
            <li>
               <a href="#">Phone</a>
            </li>
            <li>
               <a href="#"> Watch</a>
            </li>
            <li>
               <a href="#"> Stove</a>
            </li>
            <li>
               <a href="#">Shoes</a>
            </li>
            <li>
               <a href="#">Mouse</a>
            </li>
            <li>
               <a href="#">Speaker</a>
            </li>
            <li>
               <a href="#">Bag</a>
            </li>
         </ul>
      </div>

      <!-- Accessories footr hissesi -->

      <div class="Accessories">
         <h2>Accessories :</h2>
         <ul>
            <li>
               <a href="#">Camera</a>
            </li>
            <li>
               <a href="#">Home</a>
            </li>
            <li>
               <a href="#"> Speaker</a>
            </li>
            <li>
               <a href="#">Camera</a>
            </li>
            <li>
               <a href="#"> Phone</a>
            </li>
            <li>
               <a href="#"> Shoes</a>
            </li>
            <li>
               <a href="#">Stove</a>
            </li>
            <li>
               <a href="#"> Phone</a>
            </li>
            <li>
               <a href="#">Speaker</a>
            </li>
            <li>
               <a href="#">Stove</a>
            </li>
            <li>
               <a href="#"> Shoes</a>
            </li>
         </ul>

         <ul class="ull">
            <li>
               <a href="#">Phone</a>
            </li>
            <li>
               <a href="#"> Watch</a>
            </li>
            <li>
               <a href="#"> Stove</a>
            </li>
            <li>
               <a href="#">Shoes</a>
            </li>
            <li>
               <a href="#">Mouse</a>
            </li>
            <li>
               <a href="#">Speaker</a>
            </li>
            <li>
               <a href="#">Bag</a>
            </li>
         </ul>
      </div>

      <div class="shadow2"></div>
      <div class="reserved">
         <p class="All">Designed by Demo Theme All rights reserved</p>
         <!-- cartlar -->
         <ul>
            <li>
               <img src="./img/maestro.png" alt="maestro.png">
            </li>
            <li>
               <img src="./img/paypal.png" alt="paypal.png">
            </li>
            <li>
               <img src="./img/western union.png" alt="westrn uninon.png">
            </li>
            <li>
               <img src="./img/visa.png" alt="visa.png">
            </li>
         </ul>
      </div>
   </div>
   </div>
   </div>

   <!-- scroll hisssi -->

   <div class="arow"><a href="#"><i class="fa-solid fa-up-long arrow"></i></a></div>

   <!-- qurasdirilma -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
   <script src="./jQuery.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
   <script src="owl.carousel.min.js"></script>
   <script src="./jQueryy.js"></script>
   <!-- <script src="./script.js"></script> -->


   <script>

   </script>
</body>

</html>